.tasks {
    #{--tasks-container-height}: 100%;
    #{--tasks-container-width}: 80vw;

    #{--tasks-container-grid-template-rows}: 15% 1fr;

    @include bp(md) {
        #{--tasks-container-width}: 70vw;
    }
    @include bp(lg) {
        #{--tasks-container-width}: 70vw;
    }
    @include bp(xl) {
        #{--tasks-container-width}: 80vw;
    }

    &__container {
        align-items: center;
        background: var(--background);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: var(--tasks-container-grid-template-rows);
        height: var(--tasks-container-height);
        justify-content: center;
        overflow: hidden;
        width: var(--tasks-container-width); 
    }

    &__title {
        box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;
        display: grid;
        height: 70%;
        place-items: center;
    }

    &__list {
        align-self: flex-start;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 10px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        height: 90%;
        overflow-y: auto;
        padding: 15px;
        place-items: center;
        width: 100%;
    }
}