.login {
    #{--login-container-height}: 100%;
    #{--login-container-width}: 80vw;


    #{--login-main-border-color}: #ffffff;
    #{--login-main-border-radius}: 10px;

    #{--background}: red;

    @include bp(sm) {
        #{--background}: papayawhip;
    }
    @include bp(md) {
        #{--background}: red;
    }
    @include bp(lg) {
        #{--background}: $light-purple;
    }
    @include bp(xl) {
        #{--background}: $light-gray;
    }

    &__container {
        background-color: var(--background);
        align-items: center;
        display: flex;
        height: var(--login-container-height);
        justify-content: center;
        width: var(--login-container-width);

        
    }

    &__main {
        border-radius: var(--login-main-border-radius);
        border: 2px solid var(--login-main-border-color);
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-evenly;
        padding: 15px;
        width: 100%;

        &--icon { 
            display: grid;
            font-size: 8rem;
            height: 30%;
            place-items: center;
        }

        .form {
            &__container {
                display: flex;
                flex-direction: column;
                height: 50%;
                justify-content: space-between;
            }
        
            &__actions {
                display: flex;
                justify-content: space-between;
        
                &--button {
                    width: 45%;
                }
            }
        }
    }
}






