* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#__next {
    height: 100%;
    width: 100%;
}

body {
    --dark-blue: #040957;
    --dark-gray: #575A58;
    --dark-mustard: #AA8337;
    --light-gray: #ADB1C7;
    --light-purple: #A2AEFE;
    --medium-blue: #4357A5;
    --white: #FCFCFE;

    height: 100vh;
    width: 100vw;
}

