/* Breakpoints */
$sm-start: 1px;
$sm-end: 599px;
$md-start: 600px;
$md-end: 1023px;
$lg-start: 1024px;
$lg-end: 1439px;
$xl-start: 1440px;

/* Colors */
// https://mui.com/material-ui/customization/color/
$dark-blue: #040957;
$dark-gray: #575a58;
$dark-mustard: #aa8337;
$light-gray: #adb1c7;
$light-purple: #a2aefe;
$medium-blue: #4357a5;
$white: #fcfcfe;
